{% extends 'base.html.twig' %}

{% block title %}
    Calendrier des événements
{% endblock %}

{% block body %}

    {% set google_calendar_url = 'https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FParis&showPrint=0&src=YXN0cm9wcmV0QGdtYWlsLmNvbQ&src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043' %}

    <h1>Calendrier</h1>

    <iframe 
        src="{{ google_calendar_url }}"
        style="border:solid 1px #777;" 
        width="100%" 
        height="600" 
        frameborder="0" 
        scrolling="no">
    </iframe>
{% endblock %}
