{% extends 'base.html.twig' %} {# <--- AJOUTER CETTE LIGNE #}

{% block title %}Accueil - Astropret{% endblock %} {# <--- AJOUTER ET PERSONNALISER LE TITRE #}

{% block stylesheets %}
    {{ parent() }} {# Pour inclure les styles de base.html.twig #}
    <link rel="stylesheet" href="{{ asset('assets/css/styles_accueil.css') }}"> {# Exemple #}
{% endblock %}

{% block body_content %} {# <--- AJOUTER CE BLOC ET METTRE LE CONTENU SPÉCIFIQUE ICI #}
    <div class="container mt-5"> {# Tu avais déjà un container, c'est bien #}
        <h1>Bienvenue sur AstroPrêt</h1>
        <p>Gestion des prêts et événements de l'association.</p>
        {# Tu peux ajouter plus de contenu ici si besoin #}
    </div>
{% endblock body_content %}


{% block javascripts_page_specific %}
    {{ parent() }}
    <script src="{{ asset('assets/js/script_accueil.js') }}"></script> {# Exemple #}
{% endblock %}